<div class="fcol wrp">
  <app-nav (searchTextChanged)="onFilterTextChanged($event)"></app-nav>
  <div style="display: flex; height:600px; align-items:start;overflow-y: auto;">
    <dm-host class="server t-m l-m col strc grow"
             *ngFor="let host of hosts | async | filter:filterText"
             [host]="host"
             [style.order]="host.containers?.length"
             (containerAction)="onContainerAction($event)"
             (selectContainer)="selectContainer($event)"
             (removeHostAction)="removeHostByName($event)"
             (addTagEmitter)="addNewTag($event)">
    </dm-host>
  </div>
</div>

