<div [class.warning]="warning">
  <div class="col strc b-m">
    <div class="row spc fa-12x">
      <span class="bold r-m click" (click)="onContainerNameClick()">{{container.name | hideFirstChar | hideSwarmSuffix}}</span>
      <span class="notify" [class.good]="container.state|stateToRunning">{{container.status | formatStatus}}</span>
    </div>
    <span class="sec">{{container.id | slice:0:12}}</span>
  </div>
  <div class="row spc down">
    <div *ngIf="container.state|stateToRunning" class="row ctr">
      <div class="col ctr state-box state-{{container.stats[0].memory | percentToColor}} r-m">
        <span class="fa-15x">{{container.stats[0].memory | fix}}<small>%</small></span>
        <div class="fa-1x">RAM</div>
      </div>
      <div class="col ctr state-box state-{{container.stats[0].cpu | percentToColor}}">
        <span class="fa-15x">{{container.stats[0].cpu | fix}}<small>%</small></span>
        <div class="fa-1x">CPU</div>
      </div>
    </div>
    <div *ngIf="!waitingForAction; else spinner">
      <div *ngIf="container.state|stateToRunning; else run" class="row ctr">
        <button class="omg-btn-s" (click)="restartContainer()" title="Restart Container">
          <span class="fa fa-refresh"></span>
        </button>
        <button class="omg-btn-s" (click)="stopContainer()" title="Stop Container">
          <span class="fa fa-stop"></span>
        </button>
      </div>
      <ng-template #run>
        <div class="row ctr">
          <button class="omg-btn-s" (click)="startContainer()"  title="Run Container" style="opacity: 1">
            <span class="fa fa-play"></span>
          </button>
        </div>
      </ng-template>
    </div>
    <ng-template  #spinner>
      <div class="col ctr pl">
        <span class="fa fa-spinner fa-pulse"></span>
        <span>Loading...</span>
      </div>
    </ng-template>
  </div>
</div>
