<dm-container *ngIf="selectedContainer" class="container col strc p-s"
              [container]="selectedContainer"
              [host]="hostName"
              [class.low-op]="selectedContainer.state|stateToStopped"
              (containerAction)="onContainerAction($event)">
</dm-container>
<div style="display: flex; flex-direction: row;">
  <div style="flex: 1; height:500px;">
    <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient"
                           [xAxis]="lineChartShowXAxis" [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend"
                           [showXAxisLabel]="lineChartShowXAxisLabel" [showYAxisLabel]="lineChartShowYAxisLabel"
                           [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="'memory'"
                           [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation"
                           [referenceLines]="memoryRefLines"
                           [showRefLines]="true"
                           [showRefLabels]="true"
                           (select)="onSelect($event)"></ngx-charts-line-chart>
  </div>
  <div style="flex:1; height:500px;">
    <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMultiCpu" [gradient]="lineChartGradient"
                           [xAxis]="lineChartShowXAxis" [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend"
                           [showXAxisLabel]="lineChartShowXAxisLabel" [showYAxisLabel]="lineChartShowYAxisLabel"
                           [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="'cpu'"
                           [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation"
                           [referenceLines]="cpuRefLines"
                           [showRefLines]="true"
                           [showRefLabels]="true"
                           (select)="onSelect($event)"></ngx-charts-line-chart>
  </div>
</div>
