/* Reset */
:root {
  --color: white;
  --color2: #e6e6e6;
  --color3: #4d4d4d;
  --color4: #efefef;
  --color5: #7c7c7c;
  --color6: #373737;
  --black: black;
  --back: #7b1FA2;
  --red: #7a2226;
  --gray: #A8A8A8;
  --hover: #3d73b4;
  --press: #384581;
  --toggle: #384581;
  --accent: #bbb;
  --disabled: #e1e1e1;

  --invalid: rgba(189, 26, 27, 0.66);
  --border: 1px solid var(--accent);
  --transition: 0.2s all ease-out;
  --scrollbar: #9a9a9a;
  --important: #FF0000;
  --filter: #FF7400;

  --item-background: var(--color);
  --item-selected-background: #DAEFFF;
  --item-hovered-background: #dde3e5;
  --item-main-color: #1e1e1e;
  --item-secondary-color: #9b9b9b;
  --item-disabled-color: #adadad;
  --item-accent: var(--color4);

  --header-background: var(--back);
  --header-color: var(--color);

  --heading-background: var(--color2);
  --heading-color: var(--back);
  --heading-disabled: var(--accent);
  --heading-border: 1px solid var(--accent);

  --container-background: var(--color);
  --container-border: var(--border);

  --primary-btn-background: var(--back);
  --primary-btn-color: var(--color);
  --pir-color: var(--red);
  --primary-btn-hover: var(--hover);
  --primary-btn-press: var(--press);
  --primary-btn-toggled: var(--toggle);
  --primary-btn-disabled: var(--disabled);
  --primary-btn-transition: 0.1s all ease-out;

  --input-background: var(--color);
  --input-color: var(--back);
  --input-hover: var(--hover);
  --input-press: var(--press);
  --input-disabled: var(--disabled);
  --input-border: 1px solid var(--back);
  --input-invalid: var(--invalid);
  --input-filter: 0.1em solid var(--filter);

  --not-operative-container: var(--color2);
  --not-operative: var(--color3);

  --drop-border: dashed 2px var(--color5);
}

* {
  box-sizing: border-box;
}

html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  direction: ltr;
}

body {
  font-family: monospace;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background: var(--color6);
  background-color: #f1f1f9;
}

html, body, .scroll {
  /*background-color: white;*/
  user-select: none;
  flex: 1;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

dm-hosts, dm-container-logs {
  flex: 1;
}

.app {
  max-height: 100vh;
  align-content: flex-start;
  overflow-x: auto;
}

.server {
  color: #f1f1f9;
  background-color: #7781c8;
}


.server > .scroll {
  /*max-height: 300px;*/
}

.container {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  /*box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.5);*/
  /*min-width: 10em;*/
  border-bottom: 1px solid lightgray;
}

.container-logs {
  font-size: 15px;
  border-bottom: grey solid 1px;
}

.selected-container{
  max-height: 120px;
}

.info-log-color {
  color : #0af0fd;
}

.debug-log-color {
  color : #24d22c;
}

.error-log-color {
  color : #ff1100;
}

.state-box {
  border-radius: 3px;
  padding: 3px;
  color: white;
  min-width: 40px;
  background-color: lightgray;
}

.low-op {
  opacity: 0.5;
  background-color: lightgray;
}

.low-op .omg-btn-s {
  opacity: 1;
}

.notify.good, .state-box.state-0 {
  background-color: #43a047;
}

.state-box.state-1 {
  background-color: #e3c837;
}

.state-box.state-2 {
  background-color: orange;
}

.notify, .state-box.state-3 {
  background-color: red;
}

.scroll {
  justify-content: flex-start;
  overflow-y: auto;
}

.scroll > * {
  flex-shrink: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-disable {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.lowest-z {
  z-index: 0;
}

.lower-z {
  z-index: 1;
}

.low-z {
  z-index: 2;
}

.mid-lower-z {
  z-index: 3;
}

.mid-low-z {
  z-index: 4;
}

.mid-z {
  z-index: 5;
}

.mid-high-z {
  z-index: 6;
}

.mid-higher-z {
  z-index: 7;
}

.high-z {
  z-index: 8;
}

.higher-z {
  z-index: 9;
}

.highest-z {
  z-index: 10;
}

[mq-hide=true] {
  display: none !important;
}

[mq-hide-o=true] {
  opacity: 0 !important;
}

[mq-hide-v=true] {
  visibility: hidden !important;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.flx, .newHost,
.col, .fcol, .row, .frow,
.ctr, .spc, .strc, .arnd, .spr, .apr,
.right, .left, .up, .down {
  display: flex;
}

.col {
  flex-direction: column;
}

.row, .frow {
  flex-direction: row;
}

.flx1, .frow {
  flex: 1;
}

.flx2 {
  flex: 2;
}

.flx3 {
  flex: 3;
}

.wrp {
  flex-wrap: wrap;
}

.no-shrink {
  flex-shrink: 0;
}

.ctr, .spc, .arnd, .right, .left,
.col.up, .col.down {
  align-items: center;
}

.ctr, .strc, .up, .down,
.col.right, .col.left {
  justify-content: center;
}

.spc, .spr,
.col.spc.right, .col.spc.left {
  justify-content: space-between;
}

.strc, .spr, .apr,
.col.strc.up, .fcol.strc.up,
.col.strc.down, .fcol.strc.down {
  align-items: stretch;
}

.arnd, .apr,
.col.arnd.right, .col.arnd.left {
  justify-content: space-around;
}

.right, .right.up, .right.down,
.col.up, .col.right.up, .col.left.up,
.col.strc.up, .fcol.strc.up {
  justify-content: flex-start;
}

.left, .left.up, .left.down,
.col.down, .col.right.down, .col.left.down,
.col.strc.down, .fcol.strc.down {
  justify-content: flex-end;
}

.up, .right.up, .left.up,
.col.right, .col.right.up, .col.right.down,
.col.spc.right, .col.arnd.right {
  /* align-items: flex-start; */
}

.down, .right.down, .left.down,
.col.left, .col.left.up, .col.left.down,
.col.spc.left, .col.arnd.left {
  align-items: flex-end;
}

.r-xs {
  margin-right: 3px !important;
}

.r-s {
  margin-right: 5px !important;
}

.r-m {
  margin-right: 10px !important;
}

.r-l {
  margin-right: 15px !important;
}

.r-xl {
  margin-right: 20px !important;
}

.l-xs {
  margin-left: 3px !important;
}

.l-s {
  margin-left: 5px !important;
}

.l-m {
  margin-left: 10px !important;
}

.l-l {
  margin-left: 15px !important;
}

.t-xxs {
  margin-top: 2px !important;
}

.t-s {
  margin-top: 5px !important;
}

.t-m {
  margin-top: 10px !important;
}

.t-l {
  margin-top: 15px !important;
}

.t-xl {
  margin-top: 20px !important;
}

.b-s {
  margin-bottom: 5px !important;
}

.b-m {
  margin-bottom: 10px !important;
}

.b-l {
  margin-bottom: 15px !important;
}

.m-s {
  margin: 5px !important;
}

.m-m {
  margin: 10px !important;
}

.m-l {
  margin: 15px !important;
}

.ph-s {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.ph-m {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.ph-l {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.pv-s {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pv-m {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pv-l {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.p-s {
  padding: 5px !important;
}

.p-m {
  padding: 10px !important;
}

.p-l {
  padding: 15px !important;
}

.bold {
  font-weight: bold;
}

.click {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap
}

.fa-05x {
  font-size: 0.5em !important;
}

.fa-06x {
  font-size: 0.6em !important;
}

.fa-07x {
  font-size: 0.7em !important;
}

.fa-08x {
  font-size: 0.8em !important;
}

.fa-09x {
  font-size: 0.9em !important;
}

.fa-1x {
  font-size: 1em !important;
}

.fa-11x {
  font-size: 1.1em !important;
}

.fa-12x {
  font-size: 1.2em !important;
}

.fa-13x {
  font-size: 1.3em !important;
}

.fa-14x {
  font-size: 1.4em !important;
}

.fa-15x {
  font-size: 1.5em !important;
}

.fa-17x {
  font-size: 1.7em !important;
}

.fa-18x {
  font-size: 1.8em !important;
}

.fa-19x {
  font-size: 1.9em !important;
}

.round-back {
  height: 2em;
  padding: 0 1em;
  border-radius: 1em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

:hover::-webkit-scrollbar-track {
  border: none;
}

:hover::-webkit-scrollbar-corner {
  background-color: var(--scrollbar);
}

.notify {
  color: var(--primary-btn-color);
  border-radius: 3px;
  padding: 1px 5px;
}

.omg-btn-s {
  background-color: transparent;
  color: var(--primary-btn-background);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: 2em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  opacity: 1;
  transition: var(--transition);
}

.omg-btn-s:hover:enabled {
  background-color: var(--primary-btn-background);
  color: var(--primary-btn-color);
}

.omg-btn-s:active:enabled {
  background-color: var(--primary-btn-press);
  border-color: var(--primary-btn-press);
  color: var(--primary-btn-color);
}

.omg-btn-s[toggle=true]:enabled {
  background-color: var(--primary-btn-toggled);
  border-color: var(--primary-btn-toggled);
  color: var(--primary-btn-color);
}

.omg-btn-s:disabled {
  border-color: var(--primary-btn-disabled);
  color: var(--primary-btn-disabled);
  cursor: default;
}

.omg-btn.med {
  padding: 0 5px;
  min-width: 10px;
}

.user-selectable {
  user-select: initial;
}

.border-separator {
  border-bottom: var(--heading-border);
}

.hide-overflow {
  overflow: hidden;
}

.clip-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clip-multi-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sec {
  color: gray;
}

.txt-aln {
  line-height: 1em;
}

@keyframes appear {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.grow {
  animation: grow .3 ease-out;
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.warning {
  background-color: #ffd76d;
}

app-nav {
  width: 100%;
  font-size: 50px;
  background-color: #393f62;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #393f62;
}

.fa, .fas {
  font-weight: 900;
  font-size: 21px;
  background-color: #969dd3;
  color: white;
  padding: 6px;
  border-radius: 15px;
  vertical-align: middle;
}

body > app-root > dm-hosts > div > app-nav > div > a {
  margin-left: 20px;
  /* margin: 20px; */
}

#serverTitle {
  display: flex;
  height: 50px;
}

#serverDetails{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 5px;
}


#removeImage{
  cursor:pointer;
  margin: 15px;
}

* {
  box-sizing: border-box;
}

from.searchBox {
  justify-content: flex-end;
}

form.searchBox input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
}

form.searchBox button {
  float: left;
  width: 20%;
  padding: 5px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchBox::after {
  content: "";
  clear: both;
  display: table;
}

.fcol{
  justify-content: space-around;
  align-content: flex-start;
}
