<div id="serverTitle">
    <span id="serverNickname">
      <b class="fa-18x">Server Nickname: </b>
      <span class="fa-15x"> {{host.nickname}}</span>
    </span>
  <span id="removeImage">
    <i class="far fa-trash-alt fa-2x" (click)="removeHost(host.name)"></i>
  </span>
  <span id="dnsName">
    <b class="fa-18x">DNS Host Name:</b>
    <span class="fa-15x">{{host.name}}</span>
  </span>
</div>
<div class="scroll">

  <dm-container #cnt class="container col strc p-s"
                *ngFor="let container of host.containers | sortByField:'nickname'; trackBy:trackByContainerId"
                [container]="container"
                [host]="host.name"
                [class.low-op]="container.state|stateToStopped"
                (containerAction)="dispatchContainerAction($event)"
                (selectContainer)="dispatchSelectContainer($event)">
  </dm-container>
</div>
