<div>
  <h1>New Host To Monitor </h1>
  <div class="container hostParams">
    <div>
    <label for="nickname" class="fa-18x">Server Nickname</label>
    <input [class.errorNickname] = "nickInputError"
           [class.customInput]= "!nickInputError"
           type="text" [(ngModel)]="nickname" id="nickname" name="nickname" placeholder="Your Server Nickname .. ">
    </div>
    <div>
    <label for="dnsHostName" class="fa-18x">Server DNS Host Name</label>
    <input [class.errorDNSName] = "dnsInputError"
           [class.customInput]= "!dnsInputError"
           type="text" [(ngModel)]="dnsHostName" name="dnsHostName" id="dnsHostName" placeholder="Your Server DNS Host Name .. ">
    </div>
  <div>
    <button (click)="addHost()">Add New Server To Monitor</button>
  </div>
</div>
</div>
